<form class="example-form">
  <mat-dialog-actions class="test" align="end">
    <button button class="closed"  mat-dialog-close>
      <mat-icon class="closeIcon">clear</mat-icon>
     </button>
  </mat-dialog-actions>
  <mat-toolbar class="toolbarHeader">
    <mat-icon>menu</mat-icon>
    <span>Groupe Information :</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div class="infoContainer">
  <mat-form-field class="example-full-width">
    <mat-label>Code</mat-label>
    <input matInput disabled [(ngModel)]="groupe.code" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Label</mat-label>
    <input matInput disabled [(ngModel)]="groupe.label" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-label>Menu :</mat-label>
  <!-- <mat-chip class="groupeChip" *ngFor="let menu of groupe.menuGroupe" color="primary">
    {{menuGroupe.label}}
  </mat-chip> -->
  <mat-chip-list class="mat-chip-list-stacked" aria-label="Groupe selection">
    <mat-chip readOnly *ngFor="let menu of groupe.menuGroupe" selected>
      {{menu.label}} 
       </mat-chip>
  </mat-chip-list>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button id="cancel"  mat-dialog-close>
    Cancel</button>
</mat-dialog-actions>
</form>