
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Delete Groupe</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
     Are you sure you want to remove this groupe ???
    </p>
  </mat-card-content>
  <mat-dialog-actions align="end">
    <button  mat-raised-button (click)="onDeleteGroupe()"  color="primary">Delete</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>


  <mat-card-actions>
    
  </mat-card-actions>
</mat-card>