<div class="childContainer">
  <div class="course">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <mat-toolbar class="toolbarHeader">
    <mat-icon>menu</mat-icon>
    <span>Module</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-toolbar class="toolbarFilters">
    <mat-icon>menu</mat-icon>
    <span>Filters</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Display Filters
      <mat-icon>
        add_circle
      </mat-icon>
    </button>
    <button mat-button (click)="accordion.closeAll()">Hide Filters
      <mat-icon>
        remove_circle
      </mat-icon>
    </button>
  </div>
  <!-- #docregion multi -->
  <mat-accordion class="example-headers-align" multi>
    <!-- #enddocregion multi -->
    <mat-expansion-panel>
      <div class="expandFilter">
        <div class="row">
          <div class="col-3">
            <mat-form-field>
              <mat-label>code</mat-label>
              <input matInput type="text" [(ngModel)]="code">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Label</mat-label>
              <input matInput type="text" [(ngModel)]="label">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Active?</mat-label>
              <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="Actif">Actif</mat-option>
                <mat-option value="blocked">blocked</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button mat-fab class="filtre" (click)="applyFilters($event)">
          <mat-icon>
            filter_list
          </mat-icon>
        </button>
        <button mat-fab class="clear" (click)="clearFilters($event)">
          <mat-icon> clear_all</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="mat-elevation-z8">
    <mat-toolbar class="toolbarFilters">
      <mat-icon>menu</mat-icon>
      <span>Groupes List : </span>
      <span class="example-spacer"></span>
      <button id="add"  mat-stroked-button color="primary" (click)="onCreateGroupe()">
        <mat-icon>library_add</mat-icon>
        Ajouter
      </button>
    </mat-toolbar>
    <table class="tableModule" multiTemplateDataRows mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaders"> Code
          <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field> -->
        </th>
        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaders"> Label </th>
        <td mat-cell *matCellDef="let row"> {{row.label}} </td>
      </ng-container>
      <ng-container matColumnDef="active" class="activeContainer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="activeHeader"> Active </th>
        <td mat-cell *matCellDef="let row">
          <div class="activeDiv" [ngStyle]="{'backgroundColor': getColor(row)
       }">{{getTest(row)}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action" class="actionContainer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="actionHeader"
          > Actions </th>
        <td mat-cell *matCellDef="let row" class="actionRow">
          <button id="info" (click)="openViewDialog(row)"  mat-mini-fab>
            <mat-icon>visibility</mat-icon>
          </button>
          <button id="edit" (click)="openEditDialog(row)" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
          <button id="delete" (click)="openDeleteDialog(row)" mat-mini-fab>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" class="expanded">
          <div class="example-element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
            <mat-toolbar class="toolbarChips">
              <mat-icon>menu</mat-icon>
              <mat-label>Menu List :</mat-label>
              <div class="groupeChips">
                <mat-chip-list #chipList aria-label="Groupe selection">
                  <mat-chip class="chip" *ngFor="let menu of row.menuGroupe"> {{menu.label}}
                  </mat-chip>
                </mat-chip-list>
                <span class="example-spacer"></span>
              </div>
            </mat-toolbar>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalElements"></mat-paginator>
  </div>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->